@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	font-family: 'Roboto', sans-serif !important;
	margin: 150px 0 0 0!important;
	padding: 0 !important;
}

/** GRID **/
.container {
	max-width: 1200px;
}
.col-md-6 {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

#support {
	position: fixed;
	font-size: 11px;
	text-align: center;
	right: 10px;
	top: 20px;
	z-index: 1;
	color: #000;
}
#support .support {
	background-color: #9fdcf3;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	margin: 0 0 5px 0;
}
#support .support .fab {
	color: #fff;
}


/** header **/
.desktopMenu { display: block; }
.mobileMenu  { display: none; }

header {
	margin: 0 0 40px 0;
}
header .top {
	background-color: #1f2033;	
	padding: 60px 0 10px 0;
	margin: 0 0 10px 0;
	overflow: hidden;	
}
header .logo {
	position: absolute;
	border-radius: 100%;
	top: 32px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
header .box {
	max-width: 175px;
    position: relative;
    text-align: center;
}
header .box.private {
	margin: 70px auto 0 auto;
}
header h3 {
	text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 1px;
}
header ul.menu {
	font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;    
}
header ul.menu li {
    text-align: center;
    float: left;
    padding: 0 42px;
    margin: 0 0 5px 0;
    position: relative;
}
header ul.menu li a {
	color: #000;
}
header ul.menu li:after {
    content: '|';
    position: absolute;
    right: -5px;
    top: -2px;
}
header ul.menu li:last-child:after {
	content: '';
}

/** about **/
#about {
	margin: 0 0 40px 0;
}
#about .title {
	background-color: #1f2033;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	margin: 0;
}

#about .left .title:before {
	background-color: #1f2033;
    content: '';
    width: 20px;
    height: 40px;
    transform: skewy(30deg);
    position: absolute;
    left: 0;
    top: 11px;
}
#about .right .title:before {
	background-color: #1f2033;
    content: '';
    width: 20px;
    height: 40px;
    transform: skewy(-30deg);
    position: absolute;
    right: 0;
    top: 11px;
}
#about .content {
	background-color: #fff;
	border: 1px solid #ccc;
	min-height: 655px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);	
}
#about .content ul {
	margin: 20px 0;
	line-height: 1.8;
}
#about .left .content {
	margin-left: 20px;
	padding: 20px;
}
#about .left .content .sub-title {
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
#about .left .content ul.number {
	list-style: decimal;
}
#about .left .content ul.disc {
	font-size: 14px;
	font-weight: 600;
}
#about .right .content {
	margin-right: 20px;
}
#about .right .content .sub-title {
	background-color: #1f2033;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	margin: 0;	
}


/** why-choose-us **/
#WhyChooseUs {
	margin: 0 0 40px 0;
	background: #1f2033;
	color: #fff;
	padding: 40px 0;
}
#WhyChooseUs h1 {
	margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}
#WhyChooseUs ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-type:disc;
}
#WhyChooseUs ul li {
	background-color: transparent;	
	padding: 0;
	margin: 0 0 10px 0;
	border: 0;
}
#WhyChooseUs p {
	margin-bottom: 20px;
}


/** Wallet **/
#wallet {
	margin: 0 0 60px 0;
	overflow: hidden;
}
#wallet .title {
	background-color: #1f2033;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	margin: 0;
}
#wallet .title:after {
	background-color: #1f2033;
    content: '';
    width: 20px;
    height: 40px;
    transform: skewy(-30deg);
    position: absolute;
    right: 0;
    top: 11px;
}
#wallet .content {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 20px;
	min-height: 200px;
	padding: 20px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);	
}
#wallet .sub-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px 0;
}
#wallet .fa-windows {
	font-size: 48px;
	margin: 10px;
}
#wallet .buttonLink {
	border: 1px solid #ccc;
	text-transform: uppercase;
	padding: 10px 5px;
	margin: 0 5px 10px 0;
	display: block;
	float: left;
	max-width: 405px;
	width: 100%;
}
#wallet .buttonLink.half {
	max-width: 200px;
	width: 100%;

}


/** market **/
#market {
	overflow: hidden;
	margin: 0 0 60px 0;
}
#market .title {
	text-align: center;
	color: #000;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

.slickDesktop { display: block !important; }
.slickMobile { display: none !important; }

.slick-prev { left: 0 !important; z-index: 10; }
.slick-next { right: 0 !important; z-index: 10; }

#market .slick-slide .box {
	height: 200px;
	text-align: center;
	border: 1px solid #ccc;
	width: 90% !important;
	margin: 0 5%; 
}
#market .slick-slide .box:hover {
	background-color: #ccc;
}
#market .slick-slide .box button {
	background-color: #1f2033;
	color: #fff;
	border-radius: 0;
}
#market .slick-slide .box .imgbox {
	height: 100px;
	line-height: 100px;
	display: block;
	text-align: center;
	width: 100%;
    margin: 0 0 30px 0;
}
#market .slick-slide .box .imgbox img {
	margin: 0 auto;
	max-width: 180px;
}



/** kryptonia-community **/
#KryptoniaCommunity {
	border: 2px solid #b2b3b8;
	position: relative;
	padding: 20px;
	margin: 0 0 40px 0;
}
#KryptoniaCommunity:before {
    content: "Kryptonia Community";
    text-transform: uppercase;
    position: absolute;
    font-size: 24px;
    letter-spacing: 2px;
    z-index: 10;
    margin: 0 auto;
    top: -20px;
    left: 0;
    right: 0;
    width: 45%;
    background: #fff;
    text-align: center;
    font-weight: 600;
} 


/** team **/
#team {
	overflow: hidden;
	margin: 0 0 40px 0;
}
#team .title {
	text-align: center;
	color: #000;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}
#team .team-name {
	font-size: 18px;
	font-weight: 800;
	color: #000;
}
#team .box {
	width: 100%;
	display: block;
	text-align: center;
}
#team .box img {
	margin: 0 auto 15px auto;
}


/** footer **/
footer {
	background-color: #1f2033;
	color: #fff;
	overflow: hidden;
	padding: 20px 0;
}
footer .title {
	font-size: 18px;
	margin: 0 0 15px 0;
	font-weight: 600;
}
footer .col-md-3 {
	margin-bottom: 20px;
}

/* scrollTOP */
#scrollTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #17c3d1;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#scrollTop .fa {
	font-size: 24px;
}


/** roadmap **/
#roadmap {
	overflow: hidden;
	margin: 0 0 100px 0;
	min-height: 200px;
}
#roadmap .title {
	background-color: #1f2033;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	margin: 0 0 40px 0;
}
#roadmap .title:before {
	background-color: #1f2033;
    content: '';
    width: 35px;
    height: 50px;
    transform: skewy(30deg);
    position: absolute;
    left: 0;
    top: 14px;
}
#roadmap .title:after {
	background-color: #1f2033;
    content: '';
    width: 35px;
    height: 50px;
    transform: skewy(-30deg);
    position: absolute;
    right: 0;
    top: 14px;
}

.timeline { position: relative; }
.timeline ul {
	margin: 0 15px;
	padding: 0;
}
.timeline ul li {
	padding: 0;
	margin: 0 0 5px 0; 
	font-size: 13px;
	list-style-type: decimal;.0
}

.timeline .left  { left: 0;   }
.timeline .right { left: 50%; }

.timeline .timelineContainer {
    position: relative;
    width: 50%;
    height: 135px;
}

.timeline .timelineContainer.twelve.left {
	height: 165px;
}

.timeline .timelineContainer::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    right: -50px;
    top: 38px;
    background-color: #fff;    
    border-radius: 100%;
    border: 1px solid #e0e0e0;
    z-index: 1;
    text-align: center;
    line-height: 100px;
    font-size: 14px;
    font-weight: 700;

	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);    
}
.timeline .right::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    top: 15px;
    left: -75px;
    background-color: transparent;
    border: 15px solid #ccc;    
    border-radius: 100%;
    z-index: 1;

    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}
.timeline .left::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    top: 15px;
    right: -75px;
    background-color: transparent;
    border: 15px solid #ccc;    
    border-radius: 100%;
    z-index: 1;

    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}

.timeline .right::after {
    left: -50px;
}
.timeline .timelineContent {
    padding: 15px;    
    position: relative;
    color: #fff;
    max-width: 400px;
    width: 100%;
    height: 125px;
    display: table;
    position: absolute;
}
.timeline .timelineContent .box {
	display: table-cell;
	vertical-align: middle;
}

.timeline .left .timelineContent  { left: 0;  }
.timeline .right .timelineContent { right: 0; }

.timeline .right .timelineContent:before {
	content: '';
    left: -100px;
    top: 78px;
    position: absolute;
    width: 120px;
    height: 20px;
    z-index: -1;
}
.timeline .left .timelineContent:after {
	content: '';
    right: -100px;
    top: 78px;
    position: absolute;
    width: 120px;
    height: 20px;
    z-index: -1;
}


/* one | five | nine */
.timeline .timelineContainer.one::after  { 
	content: 'May 2017'; 
	color: #dc4357;
}
.timeline .timelineContainer.five::after { 
	content: 'September 2017'; 
	color: #dc4357;
	padding: 30px 8px;
	line-height: 1.5;	
}
.timeline .timelineContainer.nine::after { 
	content: 'March 2018';
	color: #dc4357; 
}
.timeline .one .timelineContent,
.timeline .five .timelineContent,
.timeline .nine .timelineContent,
.timeline .one .timelineContent:before,
.timeline .five .timelineContent:before,
.timeline .nine .timelineContent:before  {
	background-color: #dc4357;
}
.timeline .one.right::before,
.timeline .five.right::before,
.timeline .nine.right::before {
	border-top-color: #dc4357;
	border-right-color: #dc4357;
}


/* two | six | ten*/
.timeline .timelineContainer.two::after{
	content: 'June 2017';
	color: #ec842e;
}
.timeline .timelineContainer.six::after{
	content: 'October 2017';
	color: #ec842e;
	padding: 30px 10px;
	line-height: 1.5;
}
.timeline .timelineContainer.ten::after{
	content: 'April 2018';
	color: #ec842e;
}
.timeline .two .timelineContent,
.timeline .six .timelineContent,
.timeline .ten .timelineContent,
.timeline .two .timelineContent:after,
.timeline .six .timelineContent:after,
.timeline .ten .timelineContent:after  {
	background-color: #ec842e;
}
.timeline .two.left::before,
.timeline .six.left::before,
.timeline .ten.left::before {
	border-top-color: #ec842e;
	border-left-color: #ec842e;
}

/* three | seven | eleven */
.timeline .timelineContainer.three::after{
	content: 'July 2017';
	color: #17c3d1;
}
.timeline .timelineContainer.seven::after{
	content: 'December 2017';
	color: #17c3d1;
	padding: 30px 5px;
	line-height: 1.5;	
}
.timeline .timelineContainer.eleven::after{
	content: 'May 2018';
	color: #17c3d1;
}
.timeline .three .timelineContent,
.timeline .seven .timelineContent,
.timeline .eleven .timelineContent,
.timeline .three .timelineContent:before,
.timeline .seven .timelineContent:before,
.timeline .eleven .timelineContent:before  {
	background-color: #17c3d1;
}
.timeline .three.right::before,
.timeline .seven.right::before,
.timeline .eleven.right::before  {
	border-top-color: #17c3d1;
	border-right-color: #17c3d1;
}

/* four | eight | twelve */
.timeline .timelineContainer.four::after{	
	content: 'August 2017';
	color: #1b4a5e;
	padding: 30px 10px;
	line-height: 1.5;	
}
.timeline .timelineContainer.eight::after{
	content: 'February 2018';
	color: #1b4a5e;
	padding: 30px 8px;
	line-height: 1.5;	
}
.timeline .timelineContainer.twelve::after{
	content: 'June 2018';
	color: #1b4a5e;
}
.timeline .four .timelineContent,
.timeline .eight .timelineContent,
.timeline .twelve .timelineContent,
.timeline .four .timelineContent:after,
.timeline .eight .timelineContent:after,
.timeline .twelve .timelineContent:after {
	background-color: #1b4a5e;
}
.timeline .four.left::before,
.timeline .eight.left::before,
.timeline .twelve.left::before {
	border-top-color: #1b4a5e;
	border-left-color: #1b4a5e;
}